.topbarContainer{
    height:50px;
    width:100%;
    background-color: #CE9DD9;
    display:flex;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 999;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color:#836953;
    cursor:pointer;
}
.topbarLeft{
    flex:3;
}
.topbarCenter{
    flex:5;
}
.searchIcon{
    font-size: 100px;
    color:#836953;
    cursor: pointer;
}
.searchText{
    font-size: 20px;
    color:#836953;
    cursor: pointer;
}

.topbarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbarIcons{
    display: flex;
}

.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .logout{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color:#836953;
}