.password {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .passwordWrapper{
    width: 70%;
    height: 70%;
    display: flex;
  }

  loginLeft,
.passwordRight{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passwordLogo{
  font-size: 50px;
  font-weight: 800;
    color: #CE9DD9;
  margin-bottom: 10px;
}

.passwordtext{
    font-size: 30px;
    font-weight: 800;
      color: #CE9DD9;
    margin-bottom: 10px;
  }


.passwordDesc {
  font-size: 24px;
}

.passwordBox{
    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.passwordInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.passwordInput:focus{
    outline: none;
}

.passwordButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #CE9DD9;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.passwordButton:focus{
  outline: none;
}

.passwordButton:disabled{
  cursor: not-allowed;
}



.backButton{
    width: 40%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #fddd5c;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 200px;
}